{% extends 'core/base.html' %}
{% load static %}
{% block header %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white" style="font-family: Dancing Script;">
            <h1 class="display-4 fw-bolder">Sobre la pagina que esta bien pero no tan bien</h1>
            <p class="lead fw-normal text-white-50 mb-0">pos muy no bien no estamos pero al menos estamos</p>
        </div>
    </div>
</header>
{% endblock %}       
{% block content1 %}
    <!-- about section start -->
    <div class="about_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="image_2" ><img  style="width:80%;"  src="{% static 'core/assets/iconn.jpg' %}"></div>

          </div>
          <div class="col-md-6" style="font-family: Dancing Script;">
            <h1 class="live_text">¿Quienes somos?
            </h1>
            <p class="lorem_text">
              En Sublima Concepción nos dedicamos a ofrecer productos y servicios de alta calidad que buscan transformar
               lo cotidiano en algo excepcional. Nuestra misión es proporcionar una experiencia única de compra, 
               brindando artículos que combinan estética, funcionalidad e innovación para satisfacer las necesidades de nuestros clientes.
              ofrecemos una amplia variedad de productos, desde tazas ,gorros , tegnologia y o productos variados ,
              todos cuidadosamente seleccionados para garantizar la mejor calidad y los precios más competitivos del mercado.
              
              En Sublima Concepción, creemos que cada detalle cuenta, y por eso nos esforzamos por ofrecer una atención personalizada,
             con un equipo siempre dispuesto a ayudarte a encontrar lo que buscas. Ya sea que estés buscando un regalo especial,
              algo para tu hogar o simplemente darte un gusto, aquí encontrarás lo que necesitas.
            </p>
            <h1 class="live_text">
            
              ¿Por qué elegirnos?</h1>
              <p class="lorem_text"> 
              Productos exclusivos y de calidad
              Atención al cliente dedicada
              Precios accesibles y promociones especiales
              Un ambiente acogedor y moderno
              ¡Te invitamos a descubrir todo lo que Sublima Concepción tiene para ofrecer! Ven y
               vive la experiencia de transformar tu día a día con nuestros productos únicos.
              
              ¡Te esperamos!</p>
          </div>
        </div>
      </div>
    </div>
    <!-- about section end -->
    <!-- footer section start -->
{% endblock %}    
    